
h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    padding-left: 15%;
    padding-right: 15%;
}
ul {
    list-style-type: none;
}
li {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    padding-right: 3%;
}

.save-btn {
    position: absolute;
    bottom: 5rem;
    margin: 1.5rem;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .save-btn:hover {background-color: #3e8e41}
  
  .save-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .not-saved-btn {
    position: absolute;
    bottom: 5rem;
    margin: 1.5rem;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #fcb206;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .not-saved-btn:hover {background-color: #fcb206}
  
  .not-saved-btn:active {
    background-color: #fcb206;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button {
    border-radius: 4px;
    background-color: #050505;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1.5rem;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  @media only screen and (max-width: 700px) {
    h1 {
        font-size: 1rem;
    }
    li {
        font-size: 1rem;
        padding: 0.5rem;
    }
}